# **SESI 1**
#### *- Introduction, Data Types, and variables*
---

## **1. INTEGERS**
>Pada Python3, secara efektif tidak ada batasan berapa banyak nilai integer.

Tentu saja, itu dibatasi oleh jumlah memori yang dimiliki sistem kalian, seperti halnya semua hal, tetapi di luar itu integer bisa sepanjang apapun selama kalian membutuhkannya:

In [39]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [40]:
# Python interprets a sequence of decimal digits without any
# prefix to be a decimal number :
print(10)
print(type(10))

10
<class 'int'>

## **2. FLOATING-POINT NUMBERS**
>Tipe float di Python menunjukkan bilangan floating-point. Nilai float ditentukan dengan titik desimal.

Secara opsional, karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahkan untuk menentukan notasi ilmiah:

In [6]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## **3. STRINGS**
>String adalah urutan data karakter. Jenis string dalam Python disebut str.

        String literals dapat dipisahkan menggunakan tanda kutip tunggal atau ganda.

Semua karakter antara pembatas pembuka dan pembatas penutup yang 'match' adalah bagian dari string:

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

Sebuah string dalam Python dapat berisi karakter sebanyak yang kalian inginkan.

        Satu-satunya batasan adalah resource memori kalian.
String juga boleh kosong:

In [ ]:
print('')

In [8]:
print("This string contains a single quote ('') character.")
print('This string contains a double quote ("") character.')

This string contains a single quote ('') character.
This string contains a double quote ("") character.

## **4. BOOLEAN TYPE, BOOLEAN CONTEXT, AND "TRUTHINESS"**
>Objek tipe Boolean mungkin memiliki salah satu dari dua nilai, True atau False

Python 3 menyediakan tipe data Boolean.

    Objek tipe Boolean mungkin memiliki salah satu dari dua nilai, True atau False:

In [9]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## **5. VARIABLE ASSIGNMENT**
>Bayangkan variabel sebagai nama yang dilampirkan ke objek tertentu.

Di Python, variabel tidak perlu dideklarasikan atau didefinisikan sebelumnya, seperti halnya di banyak bahasa pemrograman lainnya.

    Variable assignment dilakukan dengan satu tanda sama dengan (=):

In [1]:
# Untuk membuat variabel, kalian cukup menetapkan nilai dan
# bisa digunakan.
n = 300
print(n)

300

In [11]:
n

300

In [2]:
# Later, if you change the value of n and use it again,
# the new value will be substituted instead:
n = 1000
print(n)

n

1000

1000

Python juga memungkinkan **chained assignment**, yang memungkinkan untuk menetapkan nilai yang sama ke beberapa variabel secara bersamaan:

In [14]:
a = b = c = 300
print(a, b, c)

300 300 300

## **6. VARIABLE TYPES IN PYTHON**
 >Variabel di python dapat diberi value dari satu jenis dan kemudian diberi value dari jenis yang berbeda

Dalam banyak bahasa pemrograman, variabel diketik secara statis. Artinya, variabel yang dideklarasikan diawal memiliki tipe data tertentu, dan nilai apa pun yang ditetapkan pada variable tersebut selama masa pakainya harus selalu memiliki tipe itu.

Variabel dalam Python berbeda dengan batasan ini.

    Di Python, variabel dapat diberi value dari satu jenis dan kemudian diberi value dari jenis yang berbeda:

In [15]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

## 7. **VARIABLE NAMES**
> Secara resmi, nama variabel di Python bisa berapa pun panjangnya dan bisa terdiri dari huruf besar dan huruf kecil (A-Z, a-z), digit (0-9), dan karakter garis bawah (_).

Batasan tambahan adalah bahwa, meskipun **nama variabel dapat berisi angka**, **karakter pertama dari nama variabel tidak boleh berupa digit**.

In [16]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

        Nama variable tidak boleh dimulai dengan angka:

9_kepala_naga = True

  File "<ipython-input-23-737512de54da>", line 1

      9_kepala_naga = True
      ^
     
SyntaxError: invalid token

Perhatikan bahwa case disini sangat berperan
- huruf kecil dan huruf besar tidak sama.
- penggunaan karakter garis bawah juga penting.

Masing-masing dari berikut ini mendefinisikan variabel yang berbeda:

In [18]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

Di sisi lain, belum tentu semuanya dapat terbaca.

Penamaan variable adalah masalah preferensi pribadi, tetapi kebanyakan orang akan menganggap dua contoh pertama, di mana semua huruf disatukan, lebih sulit untuk dibaca, terutama yang menggunakan huruf kapital semua.

Metode yang paling umum digunakan untuk membuat nama variable multi-kata adalah tiga contoh dibawah ini:
1. **Camel Case**
   
   Second and subsequent words are capitalized, to make world boundaries easier to see. (Presumably, it stuck someone at some point that the capital letters strewn throughout the variable name vaguely resemble camel humps.).
   
   Example: numberOfCollegeGraduates
    
2. **Pascal Case**
       
   Identical to Camel Case, except the first word is also capitalized.
   
   Example: NumberOfCollegeGraduates
    
3. **Snake Case**
       
   Words are separated by underscores.
   
   Example: number_of_college_graduates
    
Gunakan salah satu dari ketiganya yang paling menarik secara visual bagi kalian. Pilih satu dan gunakan secara konsisten.

## **8. OPERATORS AND EXPRESSION IN PYTHON**
>Di Python, operators adalah simbol khusus yang menunjukkan bahwa suatu jenis komputasi harus dilakukan.

        Nilai yang ditindaklanjuti oleh operators disebut **operands**.

Berikut ini contohnya:

In [19]:
a = 10
b = 20
a + b

30

In [20]:
a = 10
b = 20
a + b - 5

25

        Urutan operan dan operator, seperti a + b - 5, disebut **expression**.

Python mendukung banyak operator untuk menggabungkan objek data menjadi expression.

### *ARITHMETIC OPERATORS*

| Operator | Description |	Syntax |
-----------|:-----------:|--------:|
| +	       |Addition: adds two operands |	x + y |
|–	 | Subtraction: subtracts two operands |	x – y |
|*	| Multiplication: multiplies two operands |	x * y | 
|/	| Division (float): divides the first operand by the second |	x / y |
|//	| Division (floor): divides the first operand by the second |	x // y | 
|%	| Modulus: returns the remainder when first operand is divided by the second | x % y |
|**	| Power : Returns first raised to power second |	x ** y |

In [42]:
# Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [43]:
# The result of standard division (/) is always a float, even if
# the dividend is evenly divisible:

10 / 5

2.0

### *COMPARISON OPERATORS*

Operator ini untuk membandingkan dua buah nilai. 
    Operator ini adalah operator relasi dan sering digunakan untuk membuat sebuah logika atau kondisi.

|Operator |	Simbol |
|:--------|:-------|
|Lebih Besar|	> |
| Lebih Kecil |	< |
| Sama Dengan	| == | 
| Tidak Sama dengan |	!= |
| Lebih Besar Sama dengan |	>= |
| Lebih Kecil Sama dengan |	<= |

In [44]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print( a == b)

print( a != b)

print( a <= b)

print( a >= b)


a = 30
b = 30
print( a == b)

print( a != b)

print( a <= b)

print( a >= b)

False
True
True
False
True
False
True
True

## **9. STRING MANIPULATION**

In [10]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [12]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [14]:
# in Operators
s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [45]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

#Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## **10. PYTHON LISTS**
>Singkatnya, list adalah kumpulan objek yang arbitrary, agak mirip dengan array dalam banyak bahasa pemrograman lain tetapi lebih fleksibel.

        List didefinisikan dalam Python dengan menyertakan sequence object yang dipisahkan koma dalam tanda kurung siku([]).

Seperti yang ditunjukkan di bawah ini:

In [18]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

Karakteristik penting dari List Python adalah sebagai berikut:
- Lists are ordered.
- List can contain any arbitrary objects.
- List elements can be accessed by index.
- List can be nested to arbitrary depth.
- List are mutable.
- List are dynamic.

### *A. LISTS ARE ORDERED*
>List bukan hanya kumpulan object. List adalah kumpulan dari object yang berurutan.

        Urutan elemen ketika kalian membuat list akan bertahan selama List tersebut ada.

        List yang memiliki elemen yang sama dalam urutan yang berbeda, tidak sama:

In [22]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'foo', 'bar']

a == b

False

### *B. LISTS CAN CONTAIN ARBITRARY OBJECTS*
>Sebuah List dapat berisi bermacam-macam objek.

Element dari List semuanya bisa berjenis sama:

In [20]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### *C. LIST ELEMENTS CAN BE ACCESSED BY INDEX*
>Element individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku.

        Ini sama persis dengan mengakses karakter individu dalam sebuah string.

Pengindeksan List berbasis nol seperti halnya dengan string. 

Perhatikan List berikut ini:

In [21]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

<img src="https://files.realpython.com/media/t.eb0b38e642c5.png?width=1920&dpr=2" width="700" align="center">

In [34]:
print(a)
print(a[0])
print(a[5])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
foo
corge

        Hampir semua hal tentang pengindeksan string berfungsi serupa untuk list.

**CONTOH KASUS 1 :**

>Misalnya, **indeks list negatif** dihitung dari akhir list:

<img src="https://files.realpython.com/media/t.c11ea56e8ca2.png?width=1920&dpr=2" width="700" align="center">

In [33]:
print(a)
print(a[-1])
print(a[-6])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
corge
foo

**CONTOH KASUS 2 :**

>**Slicing** juga bisa digunakan.

        Jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n:

In [30]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [32]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [35]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### *D. MODIFYING A SINGLE LIST VALUE*
>Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana:

In [20]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

# A list item can be deleted with the del command:

del a[3]
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]
['foo', 'bar', 10, 'quux', 20]

### *E. MODIFYING MULTIPLE LIST VALUES*
>Mengubah beberapa elemen yang bersebelahan dalam list sekaligus dengan slice

Bagaimana jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus?

Python memungkinkan hal ini dengan slice, yang memiliki sintaks berikut:

In [46]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## **11. PYTHON TUPLES**
>Python menyediakan tipe lain dari kumpulan objek yang berurutan, disebut tuple.

### *DEFINING AND USING TUPLES*

Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:
- Tuples didefinisikan dengan mengapit elemen dalam tanda kurung(()) daripada tanda kurung siku ([]).
- Tuples tidak bisa diubah.

Berikut adalah contoh singkat yang menunjukkan pendeklarasian tuple, pengindeksan, dan slicing:

In [3]:
# pendeklarasikan tuple
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [4]:
# pengindeksan
print(t[0])
print(t[-1])

foo
corge

In [19]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

## **12. PYTHON DICTIONARY**

Dictionaries and lists share the following characterictics:
- Both are mutable.
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:
- List elements are accessed by their position in the list, via indexing.
- Dictionary elements are accessed via keys.

### *A. DEFINING A DICTIONARY*
>Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sebagai associative array.

- Dictionaries terdiri dari key-value pairs.
- Setiap key-value pairs memetakan key ke value yang terkait.
- Definisikan Dictionaries dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}).
- Titik dua (:) memisahkan setiap kunci dari nilai yang terkait.

In [23]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

### *B. ACCESSING DICTIONARY VALUES*
>Sebuah nilai diambil dari dictionary dengan menentukan kunci yang sesuai dalam tanda kurung siku ([]):

In [24]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [25]:
# Adding an entry to an existing dictionary is simply a matter
# of assigning a new key and value :

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [26]:
# if you want to upadte an entry, you can just assign a new 
# value to an existing key :

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [27]:
# To delete an entry, use the del statement, specifying
# the key to delete :

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### *C. BUILDING A DICTIONARY INCREMENTALLY*
>Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs, seperti yang ditunjukkan di atas, tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya.

Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?
1. Kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong.
2. Kemudian kalian dapat menambahkan kunci dan nilai baru satu per satu :

In [30]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [31]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [32]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [33]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [34]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [35]:
# Built-in Methods
d = {'a': 10, 'b':20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## **13. LINE CONTINUATION**

Misalkan satu pernyataan dalam kode Python kalian sangat panjang.

Misalnya, kalian mungkin memiliki assignment statement dengan banyak terms:

In [37]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18and person3_age <= 65)
someone_is_of_working_age

True

In [38]:
someone_is_of_working_age = ((person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65))
someone_is_of_working_age

True